#id1 {
  background-image: url("second-bg.jpeg");
  background-repeat: no-repeat;
  height: 650px;
  background-size: cover;
}
nav {
  margin-top: 0px;
  background-color: rgba(0.1, 0.1, 0.1, 0.1);
  padding: 30px;
  height: 90px;
}
.navbar-fixed-top.scrolled {
  background-color: black !important;
  transition: background-color 200ms linear;
}
li {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 28px;
  color: #fbfbfb;
  margin: 15px;
}
ul {
  margin-top: 30px;
  margin-left: 220px;
}
.btn1 {
  background: rgba(255, 239, 239, 0.3);
  border: 0px solid rgba(255, 239, 239, 0.3);
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 100px;
  padding: 5px;
  width: 180px;
  height: 35px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.btn1:hover {
  background-color: white;
  color: black;
}
.wrapper {
  display: grid;
  grid-template-columns: 25% 75%;
  padding: 40px;
}
.grid{
  display: grid;
  grid-template-columns: 10% 80% 10%;
  padding :30px;
}
.d1 {
  margin-top: 110px;
  color: white;
}
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.Emergency {
  background-color: #ff3399;
  color: white;
}
.Emergency:hover {
  background-color: rgba(0.1, 0.1, 0.1, 0.1);
  color: white;
  border: 1px solid white;
}
#id2{
  background-color: white;
  height: 650px;
  /* background-image: url("section2.jpeg"); */
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.d2{
  margin:0;
  /* background-color: rgba(0.5, 0.5, 0.5, 0.5); */
  padding: 10px;  
  height: 490px;

}
.heading{
text-align: center;
color: white;
font-size: 50px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 50px;
background-color: #ff3399;
background-color: #861657;
background-image :linear-gradient(326deg, #861657 0%, #ffa69e 74%);
}
.swiper {
  margin: 100px;
  width: 300px;
  height: 320px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}
.image{
  position: relative;
}
.image__img{
  display: block;
  
}
.image__overlay{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0.7, 0.7, 0.7, 0.7); */
  background-image:linear-gradient(rgba(0,0,0,0),#ff3399);
  color: #fff;
  font-family: 'Quiksand',sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
}
.image__overlay:hover{
  opacity: 1;
}
.image__title{
  font-size: 2em;
  font-weight: bold;
}
.image__description{
  font-size: 20px;
  margin-top: 0.25em;
  word-wrap: break-word;
}
.image__overlay >*{
  transform: translateY(20px);
  transition: transform 0.25s;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  -webkit-transition: transform 0.25s;
  -moz-transition: transform 0.25s;
  -ms-transition: transform 0.25s;
  -o-transition: transform 0.25s;
}
.image__overlay:hover >*{
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
.btn2{
  background-color: rgba(255, 239, 239, 0.3) ;
  border-radius: 10px;
  color: white;
  padding: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.btn2:hover{
  background-color: #fff;
  color: #000;
}